<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>


    <div class="navbar">
        <a href="{{ url_for('home.homepage') }}">Home</a>
        <a href="{{ url_for('users.users_list') }}">Users</a>
        <a href="{{ url_for('routes.walls_list') }}">Walls</a>
        <a href="{{ url_for('routes.routes_list') }}">Routes</a>
        <a href="{{ url_for('users.login') }}" >Login</a> 
        <a href="{{ url_for('users.register') }}" >Register</a> 
        <span class="navbar-right"><b>climbing side climbook</b></span>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="content">
    <div style="width: 400px; height: auto;"> 
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }} {{ form.username(size=20) }}</p>
        <p>{{ form.password.label }} {{ form.password(size=20) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('users.register') }}">Don't have an account? Register here.</a> | 
    <a href="{{ url_for('home.homepage') }}">Home</a>
    </div>
    </div>

    

    
    <br>
    <br>
    
</body>
</html>
