<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}</title>

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style> 
        /* Chart container */
        #grade-histogram {
            width: 600px;
            height: 400px;
        } 
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
        li {
            margin-bottom: 15px; /* 15px space between each list item */
        }
    </style>

</head>
<body>

    
    <script>
        function confirmLogout() {
            return confirm('Do you want to logout?');
        }
    </script>
    
    <!-- Barra di navigazione -->
    {% if current_user.is_authenticated %}
        <div class="navbar" id="myNavbar">
            <span class="navbar-right"><b>climbing side</b></span>
            <a href="{{ url_for('home.homepage') }}">Home</a>
            <a href="{{ url_for('users.users_list') }}">Users</a>
            <a href="{{ url_for('routes.walls_list') }}">Walls</a>
            <a href="{{ url_for('routes.routes_list') }}">Routes</a>
            <a href="{{ url_for('users.user_page', user_id=current_user.id) }}">Profile</a> 
            <a href="{{ url_for('users.logout') }}" onclick="return confirmLogout()" >Logout</a>
            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a> <!-- Icona hamburger -->
        </div>
    {% else %}
        <div class="navbar" id="myNavbar">
            <span class="navbar-right"><b>climbing side</b></span>
            <a href="{{ url_for('home.homepage') }}">Home</a>
            <a href="{{ url_for('users.users_list') }}">Users</a>
            <a href="{{ url_for('routes.walls_list') }}">Walls</a>
            <a href="{{ url_for('routes.routes_list') }}">Routes</a>
            <a href="{{ url_for('users.login') }}" >Login</a> 
            <a href="{{ url_for('users.register') }}" >Register</a> 
            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a> <!-- Icona hamburger -->
        </div>
    {% endif %}

    <script>
    function toggleMenu() {
        var navbar = document.getElementById("myNavbar");
        var icon = document.querySelector(".navbar a.icon");
    
        if (navbar.className === "navbar") {
            navbar.className += " responsive";
            icon.innerHTML = "&#10005;"; // Cambia l'icona in una X (simbolo Unicode X)
        } else {
            navbar.className = "navbar";
            icon.innerHTML = "&#9776;"; // Cambia l'icona di nuovo nell'hamburger (simbolo Unicode hamburger)
        }
    }
    </script>




    <div class="content">

    <br>
    <br>
    <br>

    <h1 style="font-family: Verdana, sans-serif;">{{ user.username }}</h1>

   

    <br>
    <canvas id="grade-histogram"></canvas> 
    <style>
      #grade-histogram {
        width: 600px;
        height: 300px; 
      }
      /* Media query per schermi piccoli (es. smartphone) */
      @media (max-width: 600px) {
        #grade-histogram {
          width: 100%;
          height: auto; /* Mantiene le proporzioni anche su schermi piccoli */
        }
      }
    </style>  
    <br>
    <br>
    
    <p>Repetitions added: <strong style="font-family: Verdana, sans-serif;">{{nreps}}</strong></p>

    <div>
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort" onchange="changeSortOption()">    <!-- onchange="window.location.href = '?sort_by=' + this.value;"> -->
            <option value="date" {% if sort_by == 'date' %}selected{% endif %}>Date</option>
            <option value="grade" {% if sort_by == 'grade' %}selected{% endif %}>Climbing Grade</option>
        </select>
    </div>

    <script>
        function changeSortOption() {
            const selectedOption = document.getElementById('sort').value;
            // Fetch the sorted routes without refreshing the page
            fetch(`/users/{{ user.id }}?sort_by=` + selectedOption)
                .then(response => response.text()) // We expect HTML content
                .then(html => {
                    // Parse and replace the route container content
                    const parser = new DOMParser();
                    const newDoc = parser.parseFromString(html, 'text/html');
                    const newContent = newDoc.getElementById('route-container').innerHTML;
                    document.getElementById('route-container').innerHTML = newContent;
                })
                .catch(error => {
                    console.error('Error fetching sorted routes:', error);
                });
        }
    </script>


    {% if routes %}
    <div id="route-container">
    <table style="font-family: Verdana, sans-serif;">
        <thead>
            <tr>
                <th>Route</th>
                <th>Grade</th>
                <th>Proposed Grade</th>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for route in routes %}
                <tr>
                    <td>
                        <a href="{{ url_for('routes.route_page', route_id=route.id) }}" class="link6" ><strong>{{ route.name }}</strong></a>
                        <br>
                        <a href="{{ url_for('routes.wall_page', wall_id=route.wall_id) }}" class="link6" style="font-weight: normal; font-size: small;"> Wall {{ route.wall.name }} </a>
                    </td>
                    <td><strong>{{ route.grade }}</strong></td>
                    <td>{{ display_grade(route.proposed_grade) }}</td> <!-- Display proposed grade or 'N/A' if none -->
                    <!--<td>{{ route.score }}/5</td> -->
                    <td><span id="{{ route.id}}" class="star-container" style="--filled-star-width: {{route.score *100/5}}%">★★★★★</span> </td> 
                    <td>{{ route.date.strftime('%Y-%m-%d') }}</td>  <!-- Display the date in the table -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% else %}
        <p> <b style="font-family: Verdana, sans-serif;">{{ user.username }}</b> has not added any routes yet.</p>
    {% endif %}

    
    <!-- Histogram -->
    <!-- <p><strong>Histogram:</strong></p> -->
    

    <br>
    <br>
    <br>

    

    </div>



    <!-- Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Prepare the grade frequencies data from the backend
        const gradeFrequencies = {{ full_grade_frequencies | tojson }};
        const grades = Object.keys(gradeFrequencies);
        const frequencies = Object.values(gradeFrequencies);
        // Create the histogram using Chart.js
        const ctx = document.getElementById('grade-histogram').getContext('2d');
        const gradeHistogram = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: grades,  // X-axis labels (formatted grades)
                datasets: [{
                    label: 'Number of Routes',
                    data: frequencies,  // Y-axis data (frequencies)
                    backgroundColor: 'rgba(0, 150, 199, 0.6)',
                    borderColor: 'rgba(0, 150, 199, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,  // Set to false to make it non-responsive and fixed size
                maintainAspectRatio: false,  // This will allow you to change the width and height freely
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1,   // Ensure ticks increment by 1
                            callback: function(value) {
                                return Number.isInteger(value) ? value : null;  // Show only integer tick values
                            }
                        },
                        title: {
                            display: true,
                            text: 'Number of Routes'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Grades'
                        },
                        ticks: {
                            // Adjust the font size for the labels
                            font: {
                                size: function(context) {
                                    const width = context.chart.width;
                                    return width > 500 ? 12 : 8; // Change font size based on chart width
                                }
                            }
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    </script>

    

     <!--
    aggiungere Edit Profile
    -->


    <br>
    <br>
    <br>
    <br>
    <br>

</body>
</html>
