<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routes List</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <style>
        .table {
          display: flex;
          flex-direction: column;
          width: 100%;
          border: 1px solid #ddd;
        }
        .row {
          display: flex;
          padding: 10px;
          border-bottom: 1px solid #ddd;
        }
        .row a {
            flex-basis: 25%; /* Larghezza riservata per il link */
        }  
        .row span {
            flex-basis: 20%; /* Larghezza riservata per i vari <span> */
            text-align: left; /* Allinea il testo*/
        }
    </style>




</head>
<body>

    <script>
        function confirmLogout() {
            return confirm('Do you want to logout?');
        }
    </script>
    <!-- Barra di navigazione -->
    {% if current_user.is_authenticated %}
    <div class="navbar">
        <a href="{{ url_for('home.homepage') }}">Home</a>
        <a href="{{ url_for('users.users_list') }}">Users</a>
        <a href="{{ url_for('routes.walls_list') }}">Walls</a>
        <a href="{{ url_for('routes.routes_list') }}">Routes</a>
        <a href="{{ url_for('users.user_page', user_id=current_user.id) }}">Profile</a> 
        <a href="{{ url_for('users.logout') }}"  onclick="return confirmLogout()">Logout</a>
        <span class="navbar-right"><b>climbing side climbook</b></span>

    </div>
    {% else %}
        <div class="navbar">
            <a href="{{ url_for('home.homepage') }}">Home</a>
            <a href="{{ url_for('users.users_list') }}">Users</a>
            <a href="{{ url_for('routes.walls_list') }}">Walls</a>
            <a href="{{ url_for('routes.routes_list') }}">Routes</a>
            <a href="{{ url_for('users.login') }}" >Login</a> 
            <a href="{{ url_for('users.register') }}" >Register</a> 
            <span class="navbar-right"><b>climbing side climbook</b></span>
        </div>
    {% endif %}


    <br>
    <br>


    <div class="content">
    <h2>Routes</h2>

    <!-- Sorting options -->
    <div>
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort" onchange="window.location.href = '?sort=' + this.value;">
            <option value="default" {% if sort_order == 'default' %}selected{% endif %}>Default Order</option>
            <option value="asc" {% if sort_order == 'asc' %}selected{% endif %}>Climbing Grade</option>
            <option value="repetitions" {% if sort_order == 'repetitions' %}selected{% endif %}>Number of Repetitions</option>
            <option value="avg_score" {% if sort_order == 'avg_score' %}selected{% endif %}>Average Score</option>
        </select>
    </div>

    <br>

    {% if routes %}
        <div class="table" style="font-family: Verdana, sans-serif;">
            <div class="row" style="border-bottom: 2px solid black; padding-bottom: 5px;"> 
                <span style="flex-basis: 25%;"> name </span>
                <span style="flex-basis: 3%;"> </span>
                <span style="flex-basis: 20%;"> wall </span>
                <span style="flex-basis: 15%;"> grade </span>
                <!--<span style="flex-basis: 15%;"> proposed </span>-->
                <span style="flex-basis: 14%;"> reps </span> 
                <span style="flex-basis: 23%;"> score </span>
            </div>
            {% for route in routes %}
                <div class="row" style = "display: flex; align-items: center; {% if route.done %} background-color: rgba(255, 240, 0, 0.4); {% endif %} "> 
                    <a href="{{ url_for('routes.route_page', route_id=route.id) }}" class="link6" style="flex-basis: 25%; overflow-wrap: anywhere; word-break: normal;"><strong>{{ route.name }} </strong></a>
                    <span style="flex-basis: 3%;"> </span>
                    <a href="{{ url_for('routes.wall_page', wall_id=route.wall_id) }}" class="link6" style="flex-basis: 20%; font-weight: normal;">{{ route.wall }} </a>
                    <span style="flex-basis: 15%;"> <strong>{{ route.grade }}</strong> <br> {{ route.avg_proposed_grade }}  </span>
                    <!--<span style="flex-basis: 15%;"> {{ route.avg_proposed_grade }} </span> -->
                    <span style="flex-basis: 14%;"> {{ route.repetitions }} </span> 
                    <!--<span style="flex-basis: 15%;"> {{ route.avg_score | round(2) }}/5 </span>-->
                    <span style="flex-basis: 23%;"> <span id="{{ route.id}}" class="star-container" style="--filled-star-width: {{route.avg_score *100/5}}%">★★★★★</span> </span> 
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No Routes found.</p>
    {% endif %}


    <br>
    <br>
    <br>
    <br>
    <p> Number of routes: <strong style="font-family: Verdana, sans-serif;">{{nroutes}}</strong></p>
    <br> 
    <canvas id="grade-histogram" width="600" height="300"></canvas> 

    <!-- Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Prepare the grade frequencies data from the backend
        const gradeFrequencies = {{ grade_distribution | tojson }};
        const grades = Object.keys(gradeFrequencies);
        const frequencies = Object.values(gradeFrequencies);
        // Create the histogram using Chart.js
        const ctx = document.getElementById('grade-histogram').getContext('2d');
        const gradeHistogram = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: grades,  // X-axis labels (formatted grades)
                datasets: [{
                    label: 'Number of Routes',
                    data: frequencies,  // Y-axis data (frequencies)
                    backgroundColor: 'rgba(75, 192, 192, 0.6)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,  // Set to false to make it non-responsive and fixed size
                maintainAspectRatio: false,  // This will allow you to change the width and height freely
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1,   // Ensure ticks increment by 1
                            callback: function(value) {
                                return Number.isInteger(value) ? value : null;  // Show only integer tick values
                            }
                        },
                        title: {
                            display: true,
                            text: 'Number of Routes'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Grades'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    </script>

        
    <br>
    <br>
    <br>
    {% if current_user.is_authenticated and current_user.id == 1  %}
        <a href="{{ url_for('routes.add_route') }}">Add a New Route</a> <!-- Link to the add_route page -->
        <br>
        <a href="{{ url_for('routes.routes_list_with_delete') }}">Delete a Route</a> <!-- Link to the delete_route page -->
    {% endif %}
    <br>
    <br>
    <br>

    
    </div>

    



</body>
</html>
